<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <h1>Create a new article</h1>
    <%= simple_form_for @article do |f| %>
      <%= f.error_notification %>
      <%= f.input :title %>
      <%= f.input :description%>
      <%= f.button :submit, class: "btn-primary" %>
    <% end %>
    <p class="my-4"><%= link_to "See all articles",articles_path %></p>
    </div>
</div>

